{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div id="head"></div>
    <div id="content">
        <form id="uploadFile" action="/fileupload" method="post" enctype="multipart/form-data">
            <label for="">
                <h3>File Input</h1>
            </label>
            <label for="">

                <input class="fileUpload" type="file" id="myFile" name="filename" required>
                
            </label>
            <label for="">
                <textarea maxlength="20" class="textBox" name="tag" id="tag" cols="20" rows="1"  placeholder="Input Name Here"required ></textarea>
            </label>
            <label for="">
                <input type="submit">
            </label>
            <label class="agreement" for="">
                <input type="checkbox" name="" id="" required>
                <p>I agree that the image I am uploading is my own</p>
            </label>
            {% if isvalid == "OK" %}
                <div class="checkRight">
                    <i class="fa fa-check" style="font-size:36px"></i>
                    <h4>Success</h4>
                </div>
                
            {% elif isvalid == "Name" %}
                <div class="checkWrong">
                    <i class="fa fa-close" style="font-size:36px"></i>
                    <h4>Choose different Name</h4>
                </div>
            {% elif isvalid == "Error" %}
                <div class="checkWrong">
                    <i class="fa fa-close" style="font-size:36px"></i>
                    <h4>Invalid File Type </h4>
                </div>
               
            {% else %}
                
            {% endif %}
            
            
        </form>
        
       
    </div>
    


{% endblock %}

